* {
    --bg-blue: #00aedb;
    --bg-green: #b5da06;
    --bg-dark-blue: #5261ac;
    --bg-orange: #f78f1d;
    --bg-red: #ff0000;
    --bg-gray: #898989;
    --bg-prink: #ec098d;
    --desktop-max-width: 1440px;
}

a {
    color: inherit;
    text-decoration: none;
}

.bg-blue {
    background: var(--bg-blue);
}

.bg-green {
    background: var(--bg-green);
}

.bg-dark-blue {
    background: var(--bg-dark-blue);
}

.bg-orange {
    background: var(--bg-orange);
}

.bg-red {
    background: var(--bg-red);
}

.bg-gray {
    background: var(--bg-gray);
}

.bg-prink {
    background: var(--bg-prink);
}

body {
    padding: 0px;
    margin: 0px;
}

.page_header,
.page_nav,
.page_main,
.page_footer {
    max-width: var(--desktop-max-width);
    margin: 0px auto;
}


/* star of header styling */

.page_header>.inner-container {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: end;
    justify-content: space-between;
    align-items: baseline;
}

.brand-logo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
}

.brand-logo-container span {
    display: inline-block;
    font-weight: bolder;
    color: #fff;
}

.brand-logo-container span:nth-child(-n + 3) {
    padding-top: 5px;
}


.brand-logo-container span:nth-child(even) {
    background-color: var(--bg-blue);
}


.brand-logo-container span:nth-child(odd) {
    background-color: var(--bg-green);

}

.search-form-container input[type=text] {
    height: 100%;
    padding: 5px;
    border-radius: 0px;
    border: rgb(177, 177, 177) solid 1px;
    width: 200px;

}

.search-form-container input[type=submit] {
    color: #fff;
    background: var(--bg-blue);
    border: none;
    margin: 0px;
    padding: 6px 15px;
}

.social-media-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: baseline;
    flex-basis: 150px;
    align-content: flex-end;
}


/* end of header styling */

/* star of nav bar styling */
.page_nav {
    margin-top: 10px;
}

.menu {
    text-transform: uppercase;
}

.menu ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-content: flex-end;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.menu ul li {
    padding: 3px 15px;
    margin: 0px;
    color: #FFF;
    flex-basis: content;
}

.menu ul li:last-child {
    flex-basis: max-content;
    flex-grow: 2;
}


/* end of nav bar styling */


/*
story-cation main
*/

.page_main .page_inner-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: baseline;
    gap: 14px;
}

.main-top-story {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: end;
    justify-content: flex-start;

    flex-grow: 3;
    flex-shrink: 1;
    flex-basis: 100%;
}


.main-top-story h2 {
    color: var(--bg-blue) !important;
}

.album-flex-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    column-gap: 10px;
}

.main-top-story-album {
    flex: 1 1 33%;
    margin: 0px;
    padding: 0px;
}

.story-figure {
    margin: 0px;
    padding: 0px;

}

.story-cation::before {
    content: "\25B8";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    color: #fff;
}

.story-cation {
    width: 100%;
    padding: 8px 0px;
    color: #fff;
    display: block;
    margin: 0px;


}

.top-story-image {
    width: 100%;
}

/* main-content*/
.main-content {
    flex: 2 1 66%;
}

.right-side {

    flex: 1 1 33%;
}

.main-content-gallary {
    border: var(--bg-gray) solid 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    gap: 5px;
    padding: 5px;
}

.main-content-gallary img {
    width: 100%;
}

.main-content-gallary .main-image {
    flex: 4 1 100%;
}

.main-content-gallary .image {
    flex: 1 1 23%;
    border: var(--bg-gray) solid 1px;
    padding: 3px;
}

.main-bottom-content {
    flex: 4 1 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.main-bottom-content .content-left {
    flex: 1 1 min-content;
}


.main-bottom-content .content-right {
    flex: 1 1 min-content;
    text-align: right;

}

.right-side{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
}

.top-title{
    background: var(--bg-dark-blue);
    color: #fff;
    width: cala(100%-10px);
    padding: 8px 5px;
}

.right-side-category{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   gap: 0px;
   color: #fff;
}

.category{
    flex: 1 1 auto;
}

.category_link{
    display: block;
    padding: 5px 8px;
    text-align: center;
}

.article{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;

}

.article-img{
    flex: 1 1 min-content;
    width: 175px;
}

.article-image img{
    width:100%;
}

.article-title {
    flex: 2 1 auto;
}

.article-content {
    flex: 2 1 auto;
}

.article-title{
    margin: 0px;
    color: var(--bg-blue);
}
.article-description{

    margin: 0px;
    color: var(--bg-gray);
}

.archives{
    flex: 1 1 auto;
}

.archives_list {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.archives_item::before{
    content: "\25B8";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    color: var(--bg-dark-blue);
}

/* start of page footer styling */
.page_footer {
    background: #0083dd;
    margin-top: 30px;
}

.page_footer .inner-container {
    width: 90%;
    min-width: 960px;
    padding: 60px 0px 30px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 14px;
}

.page_footer .inner-container .footer-column {
    flex: 1 1 25%;
    color: #fff;
}

.footer-h3,
.footer-content {
    margin: 0px;

}

.page_footer .inner-container .footer-row {
    flex: 4 1 100%;
    padding-top: 10px;
}

.page_footer_line {
    border-top: #FFF solid 1px;
    margin: 60px auto 0px
}

.footer-nav {
    color: #fff;
}

.footer-copyright {
    color: #fff;
}

.page_footer_line ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-content: flex-end;
    padding: 15px 0 0 0;
    margin: 0px;
    list-style: none;
}

.page_footer_line ul li {
    padding: 3px 15px;
    margin: 0px;
    color: #FFF;
    flex-basis: content;
}

.page_footer_line ul li:first-child {
    padding-left: 0px;
}

.page_footer_line ul li:last-child {
    flex-basis: max-content;
    flex-grow: 2;
}

.footer-media-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 150px;
    align-content: center;
    justify-content: space-between;
    float: inline-end;
}

.icon {
    color: #fff;
}


/* end of page footer styling */